html{
  background-color: #181818;
  scroll-behavior: smooth;
}

.header{
  background-color:#181818;
}

.pages1{
  font-size:x-large;
  margin: 0 0px;
  color: lightgray;
}

.pages1:hover{
  opacity: 0.33;
}

.pages2{
  font-size:x-large;
  margin: 0 10px;
  color: lightgray;
}

.pages2:hover{
  opacity: 0.33;
}

.blurb, .blurbH{
  color: white;
}

.gameName, .aboutGame, .games{
  color: white;
}

h1{
  color:brown;
  text-align: center;
}

.social1{
  color: #aaaaaa;
  transition: color 0.5s;
  text-decoration: none;
  margin: 0 0px;
}

.social1 :hover{
  color: white;
}

.social2{
  color: #aaaaaa;
  transition: color 0.5s;
  text-decoration: none;
  margin: 0 10px;
}

.social2 :hover{
  color: white;
}

ion-icon {
  font-size: 32px;
}

.floatRight{
  float: right;
  margin-left: 20px;
}

.blurbH{
  width: 75%;
  margin: 0;
}

.iconDetails {
  margin-left:2%;
  float:right;
} 

.container2{
  width:100%;
  height:auto;
  padding-bottom:0rem;
}

#footerH {
  position: relative;
  padding-top: 32.5rem;
}
#footerA {
  position: relative;
  padding-top: 32.5rem;
}

#footerG {
  position: relative;
  padding-top: 32.5rem;
}

#footer-content {
  position: relative;
  bottom: 0;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

a:hover {
  color: white;
}

a{
  transition: color 0.5s;
  color: #aaaaaa;
}
